
.navbar_wrap{
    display: flex;
    justify-content: center; align-items: center;
    width: 100%;
    margin: 10px 0 0;
    padding: 10px 0;
}

.navbar_inner{
    display: flex;
    justify-content: center; align-items: center;
    width: max-content;

    gap: 5px;
    padding: 5px;
    /* border: 1px solid grey; */
    border-radius: 8px;
    box-shadow: 0px 0px 10px 4px lightgrey;
}

.tab_button{
    display: flex;
    justify-content: center; align-items: center;
    min-width: 140px;

    color: #0d333f;
    padding: 6px 10px;
    border-radius: 5px;
    
    transition: .2s ease;
    cursor: pointer;
}
    .tab_button:hover{
        background-color: #decaf7;
    }

.tab_button_active{
    background-color: #f1e9fb;
    user-select: none;
    pointer-events: none;
    cursor: unset;
}